@import '../../style/default.less';
.header {
  background-color: @colorM;
  .header-top {
    height: 60px;
    line-height: 60px;
    text-align: right;
    padding: 0 20px;

    span {
      margin: 0 10px;
    }

    a {
      margin: 0 10px;
    }
  }

  .breadcrumb {
    border-top: 1px solid @primary-color;
    padding: 10px;

    .breadcrumb-title {
      font-size: @fontC;
      text-align: center;
      &::after {
        position: absolute;
        content: "";
        border-top: 15px solid @colorM;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .weather {
      text-align: right;

      .date {
        margin: 0 10px;
      }

      .weather-detail {
        margin: 0 10px;
      }
    }
  }
}
