.header {
  .header-top {
    height: 60px;
    line-height: 60px;
    text-align: right;
    padding: 0 20px;

    span {
      margin: 0 10px;
    }

    a {
      margin: 0 10px;
    }
  }

  .breadcrumb {
    border-top: 1px solid @primary-color;
    padding: 10px;

    .breadcrumb-title {
      text-align: center;
    }
    
    .weather {
      text-align: right;

      .date {
        margin: 0 10px;
      }

      .weather-detail {
        margin: 0 10px;
      }
    }
  }
}